@charset "UTF-8";
html {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 1.0rem;
  /** Mobile breakpoints */
  /** Desktop breakpoints */ }
  @media only screen and (max-width: 450px) {
    html {
      font-size: 0.7rem; } }
  @media only screen and (min-width: 451px) and (max-width: 960px) {
    html {
      font-size: 0.8rem; } }
  @media only screen and (min-width: 961px) and (max-width: 1300px) {
    html {
      font-size: 0.85rem; } }
  @media only screen and (min-width: 1301px) and (max-width: 2000px) {
    html {
      font-size: 0.9rem; } }
  @media only screen and (min-width: 2001px) {
    html {
      font-size: 1rem; } }

body {
  display: block;
  position: relative;
  width: 100%;
  min-height: 100%;
  box-sizing: border-box; }

body {
  font-size: 1.0rem;
  font-family: 'Lora', serif;
  color: #444850; }

h1, h2, h3, h4, h5, h6 {
  color: #323540;
  font-family: 'Open Sans', sans-serif; }

.wrap {
  display: block;
  position: relative;
  margin: 0 auto;
  height: 100%; }

.pagesection > .wrap {
  max-width: 700px;
  padding: 0 1rem; }

.sitecontainer {
  display: block;
  /*
  & > .wrap {
  	width: 100%;
  	//max-width: 700px;
  	
  	overflow: auto;
  }
  */ }

.navbar__item--brand .navbrand__name {
  color: inherit;
  text-decoration: none;
  background-image: linear-gradient(0deg, rgba(65, 249, 173, 0.5), rgba(65, 249, 173, 0.5));
  background-size: 100% 0.3em;
  background-repeat: no-repeat;
  background-position: 50% 80%; }

.postlistentry__title a {
  color: inherit;
  text-decoration: none;
  background-image: linear-gradient(0deg, rgba(65, 249, 173, 0.5), rgba(65, 249, 173, 0.5));
  background-size: 100% 0.3em;
  background-repeat: no-repeat;
  background-position: 50% 80%; }
  .postlistentry__title a:hover {
    background-image: linear-gradient(0deg, #41f9ad, #41f9ad); }

body {
  padding-top: 4rem; }

.navbar {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  background: rgba(255, 255, 255, 0.975);
  color: #444850;
  font-size: 0.95rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  z-index: 999; }
  .navbar > .wrap {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    margin: 0 auto;
    padding: 0 0.5rem;
    max-width: 900px;
    height: 100%; }

.navbar__column {
  display: flex;
  height: 100%;
  flex-flow: row nowrap;
  align-items: center; }
  .navbar__column--left {
    justify-content: flex-start; }
  .navbar__column--right {
    justify-content: flex-end; }

.navbar__item {
  padding: 0.5rem 0.5rem;
  margin: 0 0.25rem;
  color: inherit;
  text-decoration: none;
  /*
  &:hover {
  	text-decoration: underline;
  }
  */ }

.navbar__item--logo {
  padding: 0;
  width: 2rem;
  height: 2rem;
  background: #444850;
  border-radius: 50%;
  transition: background-color 0.05s ease-out; }
  .navbar__item--logo:hover {
    background: #41f9ad; }

a.navbar__item:not(.navbar__item--brand) > span {
  position: relative; }
  a.navbar__item:not(.navbar__item--brand) > span:after {
    display: inline-block;
    position: absolute;
    content: '';
    width: 0%;
    height: 4px;
    bottom: -0.1rem;
    left: 50%;
    left: 0;
    z-index: -1;
    background: #41f9ad;
    transition: width 0.1s ease-out, left 0.1s ease-out; }
  a.navbar__item:not(.navbar__item--brand) > span:hover:after {
    width: 100%; }

body {
  padding-bottom: 4rem; }

.footer {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4rem; }
  .footer > .wrap {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    max-width: 900px; }

.footermessage {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.95rem;
  color: #9199a1; }
  .footermessage a {
    color: inherit;
    text-decoration: underline;
    text-decoration-color: #c8ccd0; }
  .footermessage svg {
    width: 0.8rem;
    height: 0.8rem;
    margin: 0 0.25rem;
    vertical-align: middle;
    stroke: #fd2940;
    fill: #fd2940; }

.postlistentry {
  margin-bottom: 2rem; }
  .postlistentry .postlistentry__row--title {
    margin-bottom: 0.25rem; }
  .postlistentry .postlistentry__row--meta {
    margin-bottom: 0.4rem;
    color: #9199a1;
    font-family: 'Open Sans'; }

.postlistentry__title {
  margin: 0;
  font-size: 1.75rem; }

.postlistentry__timestamp:after {
  display: inline-block;
  content: "–";
  margin-left: 0.25rem; }

.postlistentry__excerpt {
  margin: 0;
  text-align: justify;
  font-size: 1.1rem;
  line-height: 1.5;
  text-align: justify; }
  .postlistentry__excerpt:first-of-type:first-letter {
    float: left;
    margin-right: 0.25rem;
    margin-top: 0.1rem;
    line-height: 0.9;
    font-size: 310%;
    font-family: 'Chonburi', serif;
    font-weight: 700; }
